/* Basic Style */

body {
  color: #333;
  background-color: #f8f8f8;
  font-family: Lato, sans-serif;
}

ul {
    margin: 0;
    padding: 0;
  }
  
li, 
h3 {
  list-style: none;
}
  
button {
  width: 60px;
  border: none;
  color: #888;
  font-size: 15px;
  cursor: pointer;
  background: none;
  font-family: Lato, sans-serif;
}
  
button:hover {
  color: #3a3A3a;
}
  

.eisenhower-maxtrix {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

@media (max-width: 768px) {
  .eisenhower-maxtrix { 
    text-align: center;
  }
}

.matrix-image {
  width: 100%;
}

.more-info {
  font-family: Fantasy, sans-serif;
}

.main-container {
  width: 500px;
  display: block;
  margin: 0 auto 0;
}

.task__input-field {
  width: 56%;
  flex-grow: 1;
  display: inline-block;
}

.add-task {
  display: flex;
  margin: 16px 0;
}

/* Heading */

.item-name {
  margin: 0;
  color: #333;
  font-weight: 700;
  font-size: 15px;
  padding: 30px 0 10px;
  text-transform: uppercase;
  border-bottom: 2px solid #333;
}

.task__input-field {
  margin: 0;
  height: 21px;
  color: #888;
  padding: 0 9px;
  font-size: 18px;
  background: #fff;
  line-height: 18px;
  border-radius: 6px;
  border: 1px solid #ddd;
  font-family: Lato, sans-serif;
}

.task__input-field:focus {
  color: #333;
}

/* Task list */

.to-do__task {
  display: flex;
  padding: 20px 0;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
}

.to-do__checkbox {
  margin: 0 10px;
}

.task-name {
  width: 226px;
  flex-grow: 1;
  font-size: 18px;
  padding-left: 10px;
  box-sizing: border-box;
}

.delete-button__image {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.delete-button__image:hover {
  transform: rotateZ(0);
}

/* Completed */

.completed-task {
  color: #888;
  text-decoration: line-through;
}

/* Edit Task */

ul li .task__input-field {
    display: none;
}

.edit-mode .task__input-field {
  display: inline-block;
}

.edit-mode label {
  display: none;
}